:root {
  --color1: #393e41;
  --color2: #b2ebe0;
  --color2a: #b2ebe0aa;
  --color3: #f9fcff;
  --color4: #f3d1dc;
  --color5: #e7c874;
  --color5a: #e7c87477;
  --color6: #0162b7;
  --color6a: #0162b767;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color3);
}

.logo-image {
  position: fixed;
  right: 0;
  width: 250px;
  height: auto;
}

.sidebar {
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--color3);
  height: 100%;
  width: 100px;
  padding-top: 20px;
  z-index: 100;
}

.sidebar i {
  font-size: 50pt;
  cursor: pointer;
  color: var(--color1);
}

.sidebar i:hover {
  text-shadow: 3px 3px 1px var(--color6a);
  transform: scale(1.1);
  color: var(--color6);
}

.sidebar .icon-div {
  margin-top: 7vh;
  position: relative;
}

/* .sidebar .icon-div:hover {
    background-color: var(--color2);
  } */

.sidebar .icon-div i:hover::after {
  position: absolute;
  left: 125%;
  top: 0;
  line-height: 50pt;
  font-size: 20pt;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: none;
  color: var(--color1);
}

.sidebar .wallpapers i:hover::after {
  content: "Background";
}

.sidebar .wallpapers-container .color-container {
  margin-top: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20pt;
}

.sidebar .wallpapers-container .color-container input {
  height: 30px;
  width: 150px;
  display: block;
}

.sidebar .input-container {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 10px;
  font-size: 20pt;
}

.sidebar .input-container input {
  display: block;
  width: 150px;
  height: 30px;
}

.sidebar .input-container input:focus {
  border: none;
  outline: none;
}

.sidebar .templates i:hover::after {
  content: "Templates";
}

.sidebar .images i:hover::after {
  content: "Images";
}

.sidebar .text i:hover::after {
  content: "Text";
}

.sidebar .quotes i:hover::after {
  content: "Quotes";
}

.sidebar .sidebar-content {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 0;
  background-color: var(--color2a);
}

.sidebar:hover .sidebar-content {
  display: block;
  transition: all 0.5s ease;
  width: 16vw;
}

.sidebar .wallpapers-container {
  display: flex;
  display: none;
  flex-direction: column;
  align-items: center;
  height: 95%;
  overflow-y: scroll;
}

.sidebar .wallpapers-container::-webkit-scrollbar {
  display: none;
}

.sidebar .images-container {
  display: flex;
  display: none;
  flex-direction: column;
  align-items: center;
  height: 95%;
  overflow-y: scroll;
}

.sidebar .quotes-container {
  display: flex;
  display: none;
  flex-direction: column;
  align-items: center;
  height: 95%;
  overflow-y: scroll;
}

.sidebar .text-container {
  display: flex;
  /* display: none; */
  flex-direction: column;
  align-items: center;
  height: 95%;
  overflow-y: scroll;
}

.sidebar .text-container .text {
  width: 200px;
  height: auto;
  margin: 10px;
  padding: 20px;
  cursor: grab;
}

.sidebar .text-container .text:hover {
    background-color: var(--color2);
    transform: scale(1.1);
}

.sidebar .text-container h2 {
  cursor: text;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sidebar .templates-container {
  display: flex;
  display: none;
  flex-direction: column;
  align-items: center;
  height: 95%;
  overflow-y: scroll;
  padding-top: 20px;
}

.sidebar img {
  width: 150px;
  height: auto;
  margin: 13px;
  cursor: grab;
}

.sidebar img:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 2px var(--color1);
}

main {
  background-color: var(--color3);
  display: inline;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 2px solid var(--color1);
  padding: 10px;
  overflow-y: scroll;
  height: 82vh;
}

main > div {
  margin-bottom: 20px;
}

.design-board {
  width: 50vw;
  height: 80vh;
  /* background-color:teal ; */
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.design-board .row {
  grid-gap: 10px;
  /* background-color: var(--color1); */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.box {
  background-color: var(--color2a);
}

.box:hover {
  background-color: var(--color2);
}

.design-board2 {
  width: 50vw;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.design-board2 .column-left {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 3fr 2fr;
}

.design-board2 .row-single {
  display: grid;
}

.design-board2 .row-double {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.design-board2 .column-right {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 2fr 3fr;
}

.design-board3 {
  width: 50vw;
  height: 80vh;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 10px;
}

.design-board3 .column-left {
  display: grid;
}

.design-board3 .column-right {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 1fr 1fr 1fr;
}

.design-board4 {
  width: 50vw;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 10px;
}

.design-board4 .column-end {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.design-board4 .column-middle {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-gap: 10px;
}

.design-board4 .row-end {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.design-board4 .row-middle {
  display: grid;
}

.design-board5 {
  width: 50vw;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.design-board5 .column-left {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-gap: 10px;
}

.design-board5 .column-right {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.design-board5 .column-left .row-top {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 10px;
}

.design-board5 .column-left .row-bottom {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}

.design-board5 .column-right .row-top {
  display: grid;
}

.design-board5 .column-right .row-middle {
  display: grid;
}

.design-board5 .column-right .row-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.design-board6 {
  width: 50vw;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 10px;
}

.design-board6 .column-end {
  display: grid;
  grid-template-rows: 2fr 3fr 2fr;
  grid-gap: 10px;
}

.design-board6 .column-middle {
  display: grid;
}
