:root {
    --color1: #393e41;
    --color1a: #393e4177;
    --color2: #b2ebe0;
    --color2a: #b2ebe0aa;
    --color3: #f9fcff;
    --color4: #f3d1dc;
    --color5: #e7c874;
    --color5a: #e7c87477;
    --color6: #0162b7;
    --color6a: #0162b767;
  }

  .sidebar-right {
      position: fixed;
      right: 0;
      bottom: 5vh;
      width: 15vw;
      height: 80vh;
      background-color: aqua;
  }