@import url("https://fonts.googleapis.com/css2?family=Amaranth&display=swap");

:root {
    --color1: #393e41;
    --color1a: #393e4177;
    --color2: #b2ebe0;
    --color2a: #b2ebe0aa;
    --color3: #f9fcff;
    --color4: #f3d1dc;
    --color5: #e7c874;
    --color5a: #e7c87477;
    --color6: #0162b7;
    --color6a: #0162b767;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-image {
  position: fixed;
  right: 0;
  width: 250px;
  height: auto;
  transform: scale(1.2);
}

.welcome-design {
  position: absolute;
  text-align: center;
  width: 80%;
  height: 20%;
  left: 10%;
  top: 10%;
  position: absolute;
  font-size: 25pt;
  font-family: "Amaranth", sans-serif;
}

.welcome-design-board {
    display: flex;
    flex-wrap: wrap;
    left: 18%;
    padding: 10px;
    position: absolute;
    margin-top: 15%;
    
}

.welcome-box {
    background-color: var(--color6);
    width: 400px;
    height: 400px;
    margin: 20px;
    position: relative;
    background-image: url(/images/LemonLimeVBThumbnailBackground.png);
    background-size: cover;
    cursor: pointer;
}

.welcome-box span {
  position: absolute;
  font-size: 30pt;
  font-family: "Amaranth", sans-serif;
  text-align: center;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.add-vision-board {
  background-color: var(--color3);
    width: 400px;
    height: 400px;
    margin: 20px;
    font-size: 100pt;
    border: 2px solid var(--color1);
    line-height: 400px;
    text-align: center;
    color: var(--color1);
}


