:root {
    --color1: #393e41;
    --color1a: #393e4177;
    --color2: #b2ebe0;
    --color2a: #b2ebe0aa;
    --color3: #f9fcff;
    --color4: #f3d1dc;
    --color5: #e7c874;
    --color5a: #e7c87477;
    --color6: #0162b7;
    --color6a: #0162b767;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-image {
  position: fixed;
  right: 0;
  width: 250px;
  height: auto;
  transform: scale(1.2);
}

.welcome-page {
  position: absolute;
  text-align: center;
  background-color: aqua;
  width: 80%;
  height: 25%;
  left: 10%;
  top: 10%;
  position: absolute;
  font-size: 60pt;
}

.welcome-design-board {
    /* width: 30vw;
    height: 50vh;
    display: grid;*/
    grid-template-rows: 1fr 1fr 1fr;
    background-color: var(--color2); 
    width: 80%;
    height: 50%;
    left: 10%;
    top: 10%;
    position: absolute;
    margin-top: 15%;
    justify-content: ;
}

main {
    background-color: var(--color3);
    display: inline;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 2px solid var(--color1);
    padding: 10px;
    background-size: cover;
    background-position: center;
  }