* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #a50404, rgb(145, 145, 145));
}

.calculator-div{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-div button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid red;
    outline: none;
    background-color: gray;
}

.calculator-div button:hover {
    background-color: white;
}

.span-button {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: white;
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 1rem;
}